@import 'variables';
@import 'mixins';


.flaskwork {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;

  @import './components/RequestList';
  @import './components/RequestDetails';
}